<ion-view view-title="123">
<ion-content class="scroll-content ionic-scroll  has-header has-tabs">

<div class="container-fluid scroll">
    <div>
        <div>
            <!--Sidebar content-->
            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>
        </div>
        <div>
            <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
            <ion-item ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="item-thumbnail-left" ng-href="#/tab/detail/{{phone.id}}">
            <img ng-src="{{phone.imageUrl}}"/>
            <h2>{{phone.name}}</h2>
            <p>{{phone.snippet|checkmark}}</p>
            <ion-option-button class="button-positive" ng-click="share(item)"> Share </ion-option-button>
            <ion-option-button class="button-info" ng-click="edit(item)"> Edit </ion-option-button>
            <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)"> </ion-delete-button>
            <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)"> </ion-reorder-button>
            </ion-item>
            </ion-list>
        </div>
    </div>
</div>
</ion-content>
</ion-view>