<ion-tabs class="tabs-icon-top tabs-dark">

  <!-- Dashboard Home -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/tab/phones">
    <ion-nav-view name="tab-phone"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="分类" icon-off="ion-ios-photos-outline" icon-on="ion-ios-photos-outline" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>


 <!-- Account Tab -->
  <ion-tab title="我要出售" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart-outline" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="个人中心" icon-off="ion-ios-person-outline" icon-on="ion-ios-person-outline" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
